titre,
.corps {
    margin-left: 50px;
    margin-right: 50px;
}

.divMap {
    background-color: grey;
    height: 90%;
    color: white;
}

.traitMilieu {
	border-right: 1px solid #b3b3b3 !important;
}

.titreInformations {
    margin: 10px;
	border-bottom: 1px solid #b3b3b3 !important;
}

.fenetre {
    height: 225px;
}

.tableLigne {
    max-height: 140px;
    overflow: auto;
}

.villeChoisie button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.villeChoisie .aboveButton {
    margin: auto;
    float: none;
}

.mapEtIndicateurs ul {
    margin-bottom: 10px;   
}

.ligneRetour div {
    float: none;
    margin: auto;
}

.ligneRetour input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtreBusSurMap {
    /*background-color: #F8F8F8;
    border-radius: 12px 12px 12px 12px;
    border-color: #DDD;
    border-style: ridge;
    float: right;
    position: absolute;
    z-index: 1;
    top: 85px;
    left: 22px;
    height: 400px;*/
}

.boutonFiltre {
    display: inline-block;
    width: 100%;
}

.inputFiltre {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    z-index: 1;
    padding: 6px 8px;
    height: 34px;
    border-radius: 4px 0px 0px 4px;
    border-color: #CCC;
}

.dropdown {
    display: inline;
}

.rowMap my-map {
    /*display: block;*/
}

.surroundArrets {
    width: 100%;
    padding-left: 10px;
    border-color: #CCC;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 4px 4px;
}

.surroundArrets div {
    width: 100%;
}

.surroundArrets label {
    width: 100%;
    display: flex;
}

.surroundArrets span {
    margin: 0px;   
}

.surroundArrets .affDynamiqueCheckbox {
    display: inline;
    text-align: left;
    margin-left: 14px;
}

.filtreBusSurMap .row {
    margin-top: 10px;
}

.maxHeighMap {
    max-height: 80%;
    overflow: auto;
}

.sizeFontLarge {
    font-size: large;
}

.panel-body {
    height: 125px;
}

/*
    Loading icon


    Original version: http://www.bootply.com/128062
    Source : https://gist.github.com/alexandrevicenzi/680147013e902a4eaa5d
    This version adds support for IE 10+ and Firefox.
*/
.glyphicon-refresh-animate {
    font-size: 40px;
    margin-top: 15%;

    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}