.divMap {
    background-color: grey;
    height: 90%;
    color: white;
}

.traitMilieu {
	border-right: 1px solid #b3b3b3 !important;
}

.titreInformations {
    margin: 10px;
	border-bottom: 1px solid #b3b3b3 !important;
}

.fenetre {
    height: 225px;
}

.tableLigne {
    max-height: 140px;
    overflow: auto;
}

.villeChoisie button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.villeChoisie .aboveButton {
    margin: auto;
    float: none;
}

.mapEtIndicateurs ul {
    margin-bottom: 10px;   
}

.ligneRetour div {
    float: none;
    margin: auto;
}

.ligneRetour input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtreBusSurMap {
    /*background-color: #F8F8F8;
    border-radius: 12px 12px 12px 12px;
    border-color: #DDD;
    border-style: ridge;
    float: right;
    position: absolute;
    z-index: 1;
    top: 85px;
    left: 22px;
    height: 400px;*/
}

.filtreBusSurMap .boutonFiltre {
    display: inline-block;
    width: 400px;
}

.inputFiltre {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    z-index: 1;
    padding: 6px 8px;
    height: 34px;
    border-radius: 4px 0px 0px 4px;
    border-color: #CCC;
}

.dropdown {
    display: inline;
}

.rowMap my-map {
    /*display: block;*/
}

.surroundArrets {
    width: 80%;
    margin: auto;
}

.surroundArrets div {
    width: 100%;
}

.surroundArrets label {
    width: 100%;
    display: flex;
}

.surroundArrets span {
    margin: 0px;   
}

.surroundArrets .affDynamiqueCheckbox {
    display: inline;
    text-align: left;
    margin-left: 14px;
}