.corps {
    margin-top: 90px;
}

titre,
.corps {
    margin-left: 50px;
    margin-right: 50px;
}

.divMap {
    background-color: grey;
    height: 90%;
    color: white;
}

.traitMilieu {
	border-right: 1px solid #b3b3b3 !important;
}

.titreInformations {
    margin: 10px;
	border-bottom: 1px solid #b3b3b3 !important;
}

.fenetre {
    height: 225px;
}

.tableLigne {
    max-height: 140px;
    overflow: auto;
}

.villeChoisie button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.villeChoisie .aboveButton {
    margin: auto;
    float: none;
}

.mapEtIndicateurs ul {
    margin-bottom: 10px;   
}

.ligneRetour div {
    float: none;
    margin: auto;
}

.ligneRetour input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtreBusSurMap {
    /*background-color: #F8F8F8;
    border-radius: 12px 12px 12px 12px;
    border-color: #DDD;
    border-style: ridge;
    float: right;
    position: absolute;
    z-index: 1;
    top: 85px;
    left: 22px;
    height: 400px;*/
}

.boutonFiltre {
    display: inline-block;
    width: 100%;
}

.inputFiltre {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    z-index: 1;
    padding: 6px 8px;
    height: 34px;
    border-radius: 4px 0px 0px 4px;
    border-color: #CCC;
}

.dropdown {
    display: inline;
}

.surroundArrets {
    width: 100%;
    padding-left: 10px;
    border-color: #CCC;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 4px 4px;
}

.surroundArrets div {
    width: 100%;
}

.surroundArrets label {
    width: 100%;
    display: flex;
}

.surroundArrets span {
    margin: 0px;   
}

.surroundArrets .affDynamiqueCheckbox {
    display: inline;
    text-align: left;
    margin-left: 14px;
}

.filtreBusSurMap .row {
    margin-top: 10px;
}

.maxHeighMap {
    max-height: 80%;
    overflow: auto;
}

.maxHeighMap > div {
    padding: 10px 25px 10px 25px;
}

.sizeFontLarge {
    font-size: large;
}

.panel-body {
    height: 125px;
}

.selectedArret {
    font-size: bold;
    color: white;
    background-color: #337ab7 !important;
}

/*
    Loading icon


    Original version: http://www.bootply.com/128062
    Source : https://gist.github.com/alexandrevicenzi/680147013e902a4eaa5d
    This version adds support for IE 10+ and Firefox.
*/
.glyphicon-refresh-animate {
    font-size: 40px;

    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.loadingDetail {
    margin-top: 15%;
}


/************************
    INFOBULLE
****************************/

span span{
    position:absolute;     
    margin-top:23px;
    margin-left:-35px;
    opacity:0;
    color:#09c;
    background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);    
}

span:hover span, span:focus span{
   opacity:1; 
}

/**************************
    NAVIGATION
**************************/

#tf-menu {
	padding: 20px;
	transition: all 0.8s;
}
#tf-menu.navbar-default {
    background-color: #393f44;
}
#tf-menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    font-family: 'Poiret One', cursive;
}

#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 16px;
	letter-spacing: 1px;
    font-family: 'Poiret One', cursive;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover {
    text-shadow: 2px 2px #800000;
    font-weight: bold;
    cursor: pointer;
}

#rowRecherche {
    margin-bottom: 10px;   
}

#allSelectButton:hover {
    background-color: #f4f4f4;
    border-color: #ddd;
}

#allSelectButton:active {
    background-color: #f4f4f4;
    border-color: #ddd;
}

#idIndicateurLigne {
    display: flex;
    justify-content: space-around;  
}

#idIndicateurLigne > div {
    width: 25%;
}