<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Urban Bus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="menu-li" (click)="toAccueil()">Accueil</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="corps">
    <div class="villeChoisie row">
        <div class="col-md-12" ng-if="_selectedVille" class="text-center">
            <h2 class="text-uppercase">Informations concernant : <strong>{{_selectedVille.agency}}</strong></h2>
        </div>
    </div>

    <div *ngIf="_loadingAgence || _loadingRoutes">
        <div class="form-group">
            <div class="col-md-12 text-center">
                <div class="row">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate loadingDetail"></span>
                </div>
                <div class="row sizeFontLarge">
                    Chargement des données en cours
                    <div *ngIf="_boolTimeOut">
                        <p class="alert alert-danger">Erreur de connection au serveur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mapEtIndicateurs row">

        <!-- Row map -->
        <div class="rowMap row">
            <div class="col-md-10">
                <my-map
                        (onClickedArret)="onClickedArret($event)"
                        (onClickedLigne)="onClickedLigne($event)">
                </my-map>
            </div>

            <div *ngIf="!_loadingAgence && !_loadingRoutes">
                <div class="col-md-2">
                    <!-- Recherche d'une ligne en particulier -->
                    <div id="rowRecherche" class="row text-center">
                        Rechercher une ligne :
                        <input type="text"
                               [value]="_searchInputLigne"
                               (input)="_searchInputLigne = $event.target.value"/>
                    </div>
                </div>
                <div class="col-md-2 maxHeighMap">
                    <div class="box box-default">
                        <!-- Tout selectionner -->
                        <div class="row text-center">
                            <div class="oneButtonFiltre">
                                <div class="inputFiltre">
                                    <input type="checkbox" name="filter" value="all" [checked]="_lignesAllChecked"
                                           (click)="selectTous()"/>
                                </div>
                                <button id="allSelectButton" type="button" class="btn btn-default boutonFiltre">
                                    Tout sélectionner
                                </button>
                            </div>
                        </div>

                        <!-- Urbain -->
                        <div class="row m-b-0">
                            <div class="text-center">
                                <div class="oneButtonFiltre">
                                    <div class="inputFiltre">
                                        <input type="checkbox" name="filter" value="urbain"
                                               [checked]="_lignesUrbainesChecked" (click)="selectUrbain()"/>
                                    </div>

                                    <span id="dropdownUrbain" class="btn btn-default dropdown-toggle boutonFiltre"
                                          type="button" data-toggle="collapse" href="#collapseUrbain">
                                        Urbain
                                    </span>
                                </div>

                                <div id="collapseUrbain" class="panel-collapse collapse in">
                                    <div class="surroundArrets">
                                        <div *ngFor="#ligne of _lignesUrbaines | filterLigneName:_searchInputLigne">
                                            <span class="col-md-offset-1">
                                                <label>
                                                    <i [id]="'loader_'+ligne.id"
                                                       class="fa fa-spinner fa-spin hide"
                                                       aria-hidden="true"
                                                       style="height: 14px;"></i>
                                                    <input type="checkbox" name="checkbox"
                                                           [id]="'checkbox_'+ligne.id"
                                                           (click)="selectLigne(ligne)" [checked]="ligne.isChecked">
                                                    <div [id]="'ligne_'+ligne.id" class="affDynamiqueCheckbox">
                                                        Bus {{ligne.short_name}}
                                                    </div>
                                                </label>                                
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Non Urbain -->
                        <div class="row">
                            <div class="text-center">
                                <div class="oneButtonFiltre">
                                    <div class="inputFiltre">
                                        <input type="checkbox" name="filter" value="nonUrbain"
                                               [checked]="_lignesNonUrbainesChecked" (click)="selectNonUrbain()"/>
                                    </div>

                                    <span id="dropdownNonUrbain" class="btn btn-default dropdown-toggle boutonFiltre"
                                          type="button" data-toggle="collapse" href="#collapseNonUrbain">
                                        Non Urbain
                                    </span>
                                </div>

                                <div id="collapseNonUrbain" class="panel-collapse collapse in">
                                    <div class="surroundArrets">
                                        <div *ngFor="#ligne of _lignesNonUrbaines | filterLigneName:_searchInputLigne">

                                            <span class="col-md-offset-1">
                                                <label>
                                                    <i [id]="'loader_'+ligne.id"
                                                       class="fa fa-spinner fa-spin hide"
                                                       aria-hidden="true"
                                                       style="height: 14px;"></i>
                                                    <input type="checkbox" name="checkbox"
                                                           [id]="'checkbox_'+ligne.id"
                                                           (click)="selectLigne(ligne)" [checked]="ligne.isChecked">
                                                    <div [id]="'ligne_'+ligne.id" class="affDynamiqueCheckbox">
                                                        Bus {{ligne.short_name}}
                                                    </div>
                                                </label>                                
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="!_loadingAgence && !_loadingRoutes">
            <div class="row">
                <!-- Filtre sur la map -->
                <div class="filtreBusSurMap col-md-12">
                    <!-- Tab panes -->
                    <div class="">
                        <div class="">
                            <!-- Row Indicateurs -->
                            <div id="zoomIndicateur" class="rowIndicateur row"> <!-- anciennement class="fenetre" -->
                                <div class="col-md-12">

                                    <!-- Indicateurs concernant les lignes en general -->
                                    <div class="indicateurLigne row">
                                        <div class="col-md-12">

                                            <!-- Ligne titre -->
                                            <div class="titre row">
                                                <div class="cold-md-12">
                                                    <div class="titreInformations">
                                                        Information de la ligne : 
                                                        <span *ngIf="_selectedLigne" class="sizeFontLarge">
                                                            <strong>{{_selectedLigne.name}}</strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Choix de la ligne -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div *ngIf="!_selectedLigne && !_selectedArret" class="text-center">
                                                        Sélectionner un arrêt ou une ligne
                                                    </div>

                                                    <div *ngIf="!_selectedLigne && _selectedArret" class="text-center">
                                                        Sélectionner une ligne correspondant à l'arrêt
                                                        {{_selectedArret.name}} <br/>
                                                        <div class="dataTable_wrapper tableLigne">
                                                            <table width="80%" id="tableLigne"
                                                                   class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Nom de la ligne</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr class="odd gradeX"
                                                                    *ngFor="#ligne of _selectedArret.routes"
                                                                    [class.success]="ligne.category"
                                                                    [class.danger]="!ligne.category"
                                                                    (click)="onChoseLineofArret(ligne)">
                                                                    <td>{{ligne.name}} (Bus {{ligne.short_name}} )</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div id="idIndicateurLigne" *ngIf="_selectedLigne">

                                                        <!-- Indicateur : Type de la ligne -->
                                                        <div class="col-md-3">
                                                            <div class="panel panel-primary text-center">
                                                                <div class="panel-heading ">
                                                                    <p>
                                                                        <span href="#">Type de la ligne 
                                                                            <span>
                                                                            Déterminé à partir du décret officiel expostant les différents critères  </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <h1 *ngIf="_selectedLigne.category">
                                                                            Urbain
                                                                        </h1>
                                                                        <h1 *ngIf="!_selectedLigne.category">
                                                                            Non Urbain
                                                                        </h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Indicateur : Vitesse moyenne -->
                                                        <div class="col-md-3">
                                                            <div class="panel panel-primary text-center">
                                                                <div class="panel-heading ">
                                                                    <p>
                                                                        <span href="#">Vitesse moyenne
                                                                            <span>
                                                                                Correspond à la vitesse moyenne du Bus sur toute la ligne.
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div>
                                                                            <h2>
                                                                                {{_selectedLigne.average_speed}}
                                                                            </h2>
                                                                            Km/h
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Indicateur : Interdistance -->
                                                        <div class="col-md-3">
                                                            <div class="panel panel-primary text-center">
                                                                <div class="panel-heading ">
                                                                    <p>                                                                   
                                                                        <span href="#">Interdistance
                                                                            <span>
                                                                                Distance moyenne entre deux arrêts consécutifs
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6 traitMilieu">
                                                                            <h2>{{_selectedLigne.interdistance}}</h2>
                                                                            Seuil : 500m
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <h2>{{_selectedLigne.ratio}}</h2>
                                                                            Seuil : 2.5
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Indicateurs concernant les arrêts en general -->
                                    <div class="indicateurArret row">
                                        <div class="col-md-12">

                                            <!-- Ligne titre -->
                                            <div class="titre row">
                                                <div class="cold-md-12">
                                                    <div class="titreInformations">
                                                        Information de l'arrêt : <span class="sizeFontLarge"
                                                                                       *ngIf="_selectedArret"><strong>{{_selectedArret.name}}</strong></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Choix de la ligne -->
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div *ngIf="!_selectedLigne && !_selectedArret" class="text-center">
                                                        Sélectionner un arrêt ou une ligne
                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="row text-center">
                                                            Rechercher un arrêt :
                                                            <input type="text"
                                                                   [value]="_searchInputArret"
                                                                   (input)="_searchInputArret = $event.target.value"/>
                                                        </div>
                                                        <div *ngIf="_selectedLigne" class="text-center">
                                                            Sélectionner un arrêt
                                                            <br/>
                                                            <div class="dataTable_wrapper tableLigne">
                                                                <table width="80%" id="tableLigne"
                                                                       class="table table-striped table-bordered table-hover"
                                                                       id="dataTables-example">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Nom de l'arrêt</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr class="odd gradeX"
                                                                        *ngFor="#arret of _selectedLigne.stops | filterArretName:_searchInputArret"
                                                                        (click)="onChoseArretOfLine(arret)"
                                                                        [class.selectedArret]="arret == _selectedArret"
                                                                    >
                                                                        <td>{{arret.name}}</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div *ngIf="_selectedArret">
                                                            <div *ngIf="!_selectedArret.population_200m || (_selectedLigne && !_selectedArret.passageW_Arret_ligne )">
                                                                <div class="text-center">
                                                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="(_selectedLigne &&  _selectedArret.passageW_Arret_ligne ) || _selectedArret.passageW_Arret_ligne || ( !_selectedLigne && _selectedArret.population_200m)">
                                                                <div class="row">
                                                                    <!-- Indicateur : nombre de passages -->
                                                                    <div class="col-md-4">
                                                                        <div class="panel panel-primary text-center">
                                                                            <div class="panel-heading ">
                                                                                Nombre de passage
                                                                            </div>
                                                                            <div class="panel-body">
                                                                                <div class="col-md-6 traitMilieu">
                                                                                    <h2>
                                                                                        {{_selectedArret.passageWE_Arret_ligne}}
                                                                                    </h2>
                                                                                    Week-End / Jours Fériés
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <h2>
                                                                                        {{_selectedArret.passageW_Arret_ligne}}
                                                                                    </h2>
                                                                                    Semaine
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Indicateur : Vitesse moyenne -->
                                                                    <div class="col-md-4">
                                                                        <div class="panel panel-primary text-center">
                                                                            <div class="panel-heading ">
                                                                                Vitesse du tronçon
                                                                            </div>
                                                                            <div class="panel-body">
                                                                                <div class="row">
                                                                                    <div>
                                                                                        <h2>
                                                                                            {{_selectedArret.vitesse_Arret_ligne}}
                                                                                        </h2>
                                                                                        Km/h
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Indicateur : Nombre d'habitants -->
                                                                    <div class="col-md-4">
                                                                        <div class="panel panel-primary text-center">
                                                                            <div class="panel-heading ">
                                                                                Nombre d'habitants
                                                                            </div>
                                                                            <div class="panel-body">
                                                                                <div class="row">
                                                                                    <div>
                                                                                        <h2>
                                                                                            {{_selectedArret.population_200m}}
                                                                                        </h2>
                                                                                        à moins de 200m
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- FIN Indicateurs arrêts-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIN TAB INDICATEUR -->

                    </div> <!-- FIN TABS -->
                </div> <!-- FIN ROW SOUS LA MAP -->
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<div class="footer">
</div>