<div class="row">
	<div ng-if="_selectedVille" class="text-center">
	    <h2>{{_selectedVille.nom}}</h2>
	</div>
</div>

<div class="row">
	<!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Acceuil" data-toggle="tab">Acceuil</a>
        </li>
        <li><a href="#Statistiques" data-toggle="tab">Statistiques</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="Acceuil">
        	Acceuil
        </div>
        <div class="tab-pane fade" id="Statistiques">
			Statistiques
        </div>
    </div>
</div>
<!-- /.panel-body -->