<div class="villeChoisie row">
	<div class="col-md-12" ng-if="_selectedVille" class="text-center">
	    <h2 class="text-uppercase">{{_selectedVille.agency}}</h2>
	</div>
</div>

<hr/>

<div class="mapEtIndicateurs row">
	<!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Accueil" data-toggle="tab">Accueil</a>
        </li>
        <li><a href="#Statistiques" data-toggle="tab">Statistiques</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="Accueil">
            
            <!-- Row map -->
            <div class="rowMap row">
                <div class="col-md-12">
        			<my-map 
	        			(onClickedArret)="onClickedArret($event)" 
	        			(onClickedLigne)="onClickedLigne($event)">
	        		</my-map>
                    
                    <hr/>
                    
                    <!-- Filtre sur la map -->
                    <div class="filtreBusSurMap col-md-12">
                        <h4>Filtres :</h4>
<!--                        <div class="btn-group">
                            <button type="button" class="btn btn-danger">Action</button>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>-->
                        <!-- Recherche d'une ligne en particulier -->
                        <div class="row text-center">
                            <div class="col-md-6">
                            
                                Rercher une ligne : 
		                        <input type="text" 
						          [value]="_searchInput" 
						          (input)="_searchInput = $event.target.value" />
                                
                            </div>
                        </div>
                        
                        <!-- Tout selectionner -->
                        <div class="row text-center">
                        	<div class="col-md-6">

		                        <div class="oneButtonFiltre">
		                            <div class="inputFiltre">
		                                <input type="checkbox" name="filter" value="all" [checked]="_lignesAllChecked" (click)="selectTous()"/>
		                            </div>
		                            <button type="button" class="btn btn-default boutonFiltre">		
		                            	Tout sélectionner
		                            </button>
		                        </div>

                        	</div>                        
                        </div>
                        
                        <!-- Urbain -->
						<div class="row m-b-0">
							<div class="col-md-6 text-center">
                                <div class="oneButtonFiltre">
                                    <div class="inputFiltre">
                                        <input type="checkbox" name="filter" value="urbain" [checked]="_lignesUrbainesChecked" (click)="selectUrbain()"/>
                                    </div>

                                    <span id="dropdownUrbain" class="btn btn-default dropdown-toggle boutonFiltre" type="button" data-toggle="collapse" href="#collapseUrbain">
                                        Urbain
                                    </span>
                                </div>
                                
                                <div id="collapseUrbain" class="panel-collapse collapse">
                                    <div class="surroundArrets">
                                        <div *ngFor="#ligne of _lignesUrbaines | filterName:_searchInput">
                                            <span class="col-md-offset-1">
                                                <label>
                                                    <input type="checkbox" name="checkbox" 
                                                    (click)="selectLigne(ligne)" [checked]="ligne.isChecked">
                                                    <div class="affDynamiqueCheckbox">
                                                        {{ligne.name}}
                                                    </div>
                                                </label>        						
                                            </span>
                                        </div>
                                    </div>
							     </div>
                            </div>
						</div>
                        
                        <!-- Non Urbain -->
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="oneButtonFiltre">
                                    <div class="inputFiltre">
                                        <input type="checkbox" name="filter" value="nonUrbain" [checked]="_lignesNonUrbainesChecked" (click)="selectNonUrbain()"/>
                                    </div>

                                    <span id="dropdownNonUrbain" class="btn btn-default dropdown-toggle boutonFiltre" type="button" data-toggle="collapse" href="#collapseNonUrbain">
                                        Non Urbain
                                    </span>
                                </div>
                                
                                <div id="collapseNonUrbain" class="panel-collapse collapse">
                                    <div class="surroundArrets">
                                        <div *ngFor="#ligne of _lignesNonUrbaines | filterName:_searchInput">
                                            <span class="col-md-offset-1">
                                                <label>
                                                    <input type="checkbox" name="checkbox" 
                                                    (click)="selectLigne(ligne)" [checked]="ligne.isChecked">
                                                    <div class="affDynamiqueCheckbox">
                                                        {{ligne.name}}
                                                    </div>
                                                </label>        						
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        		</div>

            </div>
            
            <hr/>
            
            <!-- Row Indicateurs -->
            <div class="rowIndicateur row"> <!-- anciennement class="fenetre" -->
                <div class="col-md-12">
                    
                    <!-- Indicateurs concernant les lignes en general -->
                    <div class="indicateurLigne row">
                        <div class="col-md-12">
                        
                            <!-- Ligne titre -->
                            <div class="titre row">
                                <div class="cold-md-12">
                                    
                                    <div class="titreInformations">
                                        Information	de la ligne	: <span *ngIf="_selectedLigne">{{_selectedLigne.name}}</span>
                                    </div>

                                </div>
                            </div>
     
                            <!-- Choix de la ligne -->
                            <div class="row">
                                <div class="col-md-12">

                                    <div *ngIf="!_selectedLigne && !_selectedArret" class="text-center">
                                        Sélectionner un arrêt ou une ligne
                                    </div>


                                    <div *ngIf="!_selectedLigne && _selectedArret" class="text-center">
                                        Sélectionner une ligne correspondant à l'arrêt {{_selectedArret.name}} <br/>
                                        <div class="dataTable_wrapper tableLigne">
                                            <table width="80%" id="tableLigne" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Nom de la ligne</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd gradeX" *ngFor="#ligne of _lignes" 
                                                    [class.success]="ligne.category"  [class.danger]="!ligne.category" 
                                                    (click)="clickLigne(ligne.id)">
                                                        <td>{{ligne.name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <!-- Indicateurs -->
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div *ngIf="_selectedLigne">
                                        
                                        <!-- Indicateur : nombre de passage -->
                                        <div class="col-md-6">
                                            
                                            <div class="panel panel-primary text-center">
                                                <div class="panel-heading ">
                                                    Nombre de passage
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6 traitMilieu">
                                                            <h2 >
                                                                56
                                                            </h2>
                                                            Par Jour
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h2 >
                                                                392
                                                            </h2>
                                                            Par Semaine
                                                        </div>
                                                    </div>  
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                        <!-- Indicateur : Vitesse moyenne -->
                                        <div class="col-md-6">
                                            
                                            <div class="panel panel-primary text-center">
                                                <div class="panel-heading ">
                                                    Vitesse moyenne de la ligne
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div>
                                                            <h2 >
                                                                37
                                                            </h2>
                                                            Km/h
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- Indicateurs concernant les arrêts en general -->
                    <div class="indicateurArret row">
                        <div class="col-md-12">
                            
                            <!-- Ligne titre -->
                            <div class="titre row">
                                <div class="cold-md-12">
                                    
                                    <div class="titreInformations">
                                        Information	de l'arrêt	: <span *ngIf="_selectedArret">{{_selectedArret.nom}}</span>
                                    </div>
                                    
                                </div>
                            </div>
     
                            <!-- Choix de la ligne -->
                            <div class="row">
                                <div class="col-md-12">

                                    <div *ngIf="!_selectedLigne && !_selectedArret" class="text-center">
                                        Sélectionner un arrêt ou une ligne
                                    </div>

                                    <div *ngIf="!_selectedArret && _selectedLigne" class="text-center">
                                        Sélectionner une ligne correspondant à l'arrêt {{_selectedLigne.name}}
                                        <br/>
                                        <div class="dataTable_wrapper tableLigne">
                                            <table width="80%" id="tableLigne" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Nom de l'arrêt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd gradeX" *ngFor="#arret of _selectedLigne.stops" 
                                                    (click)="onChoseArretOfLine(arret)">
                                                        <td>{{arret.name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <!-- Indicateurs -->
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div *ngIf="_selectedArret">
                                        
                                        <!-- Indicateur : nombre de passages -->
                                        <div class="col-md-6">
                                            <div class="panel panel-primary text-center">
                                                <div class="panel-heading ">
                                                    Nombre de passage
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6 traitMilieu">
                                                            <h2 >
                                                                28
                                                            </h2>
                                                            Par Jour
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h2 >
                                                                392
                                                            </h2>
                                                            Par Semaine
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Indicateur : Nombre d'habitants -->
                                        <div class="col-md-6">
                                            <div class="panel panel-primary text-center">
                                                <div class="panel-heading ">
                                                    Nombre d'habitants
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div>
                                                            <h2 >
                                                                3 745
                                                            </h2>
                                                            à moins de 200m
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                        
        				            </div>
                                    
                                </div>
                            </div>
                        
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="ligneRetour row">
                <div class="col-md-6">
                    <input class="btn btn-primary" type="submit" value="Retour"  (click)="goBack()" />
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="Statistiques">
			Statistiques
        </div>
    </div>
</div>
<!-- /.panel-body -->