
<div class="backgroundImage dark blur">
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

    <div id="cover-container-detail" class="cover-container">

                <div class="inner cover">
                    <h2 class="cover-heading">Bienvenue dans Urban Bus</h2>
                </div>

                <hr/>
        
                <div class="corps">
                    <div class="row">
                        <div class="centered col-md-12">
                            <div class="panel panel-custom">
                                <div class="panel-heading">
                                    Ajout d'une ville
                                </div>
                                <div class="panel-body">
                                    <form action="TODO"	enctype="multipart/form-data" method="post">
                                        Si vous possédez un fichier <strong>GTFS</strong> concernant les données de votre ville, vous pouvez le télécharger ici.<br/>
                                        <input class="choixFichier" type="file" name="datafile" size="40" required (change)="onChangeFile($event.target.value)">
                                        <input class="btn btn-primary-cover" type="submit" value="Envoyer" (click)="uploadFile()">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="centered col-md-12">
                            <div class="panel panel-custom">
                                <div class="panel-heading">
                                    Sélection d'un réseau
                                </div>
                                <div class="panel-body">
                                    Veuillez sélectionner un réseau pour connaître ses détails concernant ses lignes de bus.<br/>
                                    <select class="form-control choixVille" required (change)="onChange($event.target.value)">
                                        <option *ngFor="#ville of villes" [value]="ville.id" >
                                            {{ville.agency}}
                                        </option>
                                    </select>
                                    <input class="btn btn-primary-cover" type="submit" value="Voir les lignes"  (click)="gotoDetail()" >
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="centered col-md-12">
                        <div class="panel panel-custom">
                            
                        <div class="panel-heading">
                            Calcul de la population du réseau
                        </div>
                            
                        <div class="panel-body">
                            <div id="progress">
                                <p>Calcul...<strong>100%</strong></p>
                                <progress value="100" min="0" max="100">0%</progress>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <router-outlet></router-outlet>
                </div>
        
        </div>
    </div>
</div>