<div class="col-md-5">
	<form action="TODO"	enctype="multipart/form-data" method="post">
		<h2> Ajout d'une ville </h2>
		<input type="file" name="datafile" size="40">
  		<br/>
		<input class="btn btn-primary" type="submit" value="Envoyer" >
	</form>
</div>

<div class="col-md-4 col-md-offset-2">
	<h2>Sélection d'une ville </h2>	
	<select class="form-control" required (change)="onChange($event.target.value)">
	    <option *ngFor="#ville of villes" [value]="ville.nom" >
        	{{ville.nom}}
        </option>
  	</select>
  	<br/>
	<input class="btn btn-primary" type="submit" value="Voir les lignes"  (click)="gotoDetail()">
</div>

<router-outlet></router-outlet>

